Greeting;0;hello;hello;greetings;greet our guests;greet our;greetings guest;greetings to our guests;hello guests;
Rename;1;hello rename you to;rename you to;your name is now;rename yourself to;change your name to
Weather;1;weather;how is weather;how is the weather in
TellAJoke;0;tell a joke;tell me a joke;give a joke;joke
LampColorChangeKitchen;1;lamp kitchen;kitchen;turn the lamp kitchen;kitchen turn lamp
LampColorChangeBath;1;lamp toilet;toilet;turn the lamp toilet;toilet turn lamp
LampBrightnessChangeKitchen;1;kitchen brightness;lamp kitchen brightness;turn the lamp brightness kitchen
LampBrightnessChangeBath;1;toilet brightness;lamp toilet brightness;turn the lamp brightness toilet;
LampTemperatureChangeKitchen;1;lamp kitchen temperature;turn the lamp temperature kitchen; lamp temperature kitchen
LampTemperatureChangeBath;1;lamp toilet temperature;turn the lamp temperature toilet; lamp temperature toilet
RandomFacts;0;give me a fact;facts
News;0;tell me news;give me news;news
Explain;0;explain yourself
Time;0;time;tell the time;give me the time; what time;hello time
AskMeQuestions;0;ask question;give me a question;question;ask question
